@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Orbitron&display=swap');

body{
  font-family: "Montserrat";
  background-color: aliceblue;
  padding: 0px;
  margin:0px;
}

button{
  font-family: "Montserrat";
  padding:8px 10px;
  margin-top :8px;
  max-width: fit-content;
  border: none;
  border-radius: 7%;
  font-size: 15px;
  background-color: transparent;
  color: rgb(45, 190, 62);
  font-weight: 700;
  letter-spacing: 0.5px;

}

button:hover{
  cursor: pointer;
}
/* home page*/

.notes{
  display: flex;
  flex-direction: column;
  margin : 0px;
  width: 60%;
  background-color: white;
  border-right: 1px rgba(0, 0, 0, 0.191) solid;
}
.notes header h2{
  margin: 20px;
  
}
.notes header input{
  height: fit-content;
  border: 1px rgba(0, 0, 0, 0.396) solid;
  padding: 5px 10px;
border-radius: 5px;
  ;
}

.notes header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.note-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding :10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.191);
  border-bottom: 1px solid rgba(0, 0, 0, 0.066);
}

.note-container:hover{
  background-color: rgb(241, 239, 239);
}
.note-container header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-container header p{
  font-weight: light;
  font-size: smaller;
}

.note-container footer{
  margin:10px 0px;
}

.note-container footer button{
  font-size: 12px;
  margin-left: 10px;
}

.layout{
  display: flex;
  justify-content: space-around;  
}


/* Note creation form */
.new-note {
  width: 50%;
  background-color: white;
  padding: 5px 20px;
}

.create-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5px 10px;
  width: 100%;


}

.create-form .input{
  display: flex;
  flex-direction: column;
  margin :10px 0px;
  font-weight: 500;
}

.create-form .input textarea{
  resize: vertical;
  font-family: "Montserrat";
}
.create-form .input label{
  margin-bottom: 10px;
}
.create-form .input input,textarea{
  border: 0.5px solid rgba(0, 0, 0, 0.265);
  padding: 5px 10px;
  width: 70%;
}



/* Navbar */
.navbar{
  display: flex;
  background-color: rgb(45, 190, 62);
  color: white;
  margin: 0px;
}

.navbar h2{
  margin: 10px 20px;
}

